node_modules/
.idea/
.npm
npm-debug.log
package-lock.json
production.env
orthanc.json
.DS_Store
.cache/
.meteor/local
.meteor/meteorite
.meteor/dev_bundle
*/.meteor/dev_bundle
*.vue___jb_tmp___
*.js___jb_tmp___
.vscode/
.history/
.project